@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
    max-width: 1440px;
    margin: 2 auto;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
}

.active {
    border-color: blue;
    color: blue;
}

.darkened-image {
    filter: brightness(50%);
}

.anton {
    font-family: "Anton", sans-serif;
}